@tailwind base;
@tailwind components;
@tailwind utilities;

.css-13cymwt-control {
    background-color: transparent !important;
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: lightgray;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}
* {
    scrollbar-width: 2px;
    scrollbar-color: rgba(128, 128, 128, 0.228) rgba(211, 211, 211, 0.361);
}
*::-moz-scrollbar-thumb:hover {
    background-color: lightgray;
}

.toast-animation {
    animation-name: slideIn;
    animation-duration: 0.35;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(-15%);
    }
    80% {
        transform: translateX(5%);
    }
    80% {
        transform: translateX(0%);
    }
}
